.bg-yellow-500 {
    background-color: yellow;
}
.text-yellow-500 {
    color: yellow;
}
.font-big {
    font-size: x-large;
}
#text-center {
    text-align: center;
}
.ig-center {
    text-align: center;
}